/* Custom Footer Icon Background */
.iconcustombg {
    background-color: #72727241;
}
/* Custom Responsive From Here */
/* For Extra-Small Device */
@media screen and (max-width: 375px) {
    .carousel-caption h5{
        font-size: .9rem;
    }

    .carousel-caption p{
        font-size: .6rem;
        margin-bottom: 4px;
    }
    .carousel-caption a{
        font-size: .5rem;
        padding: 3px 7px;
    }
}
/* For Small Device */
@media screen and (min-width: 376px) and (max-width: 576px) {
    .carousel-caption h5{
        font-size: 1.6rem;
    }

    .carousel-caption p{
        font-size: .8rem;
    }
    .carousel-caption a{
        font-size: .7rem;
        padding: 3px 7px;
    }
}
/* For Medium Device */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .carousel-caption h5{
        font-size: 2rem;
    }
}
/* For Large Device */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .carousel-caption h5{
        font-size: 2.5rem;
    }
    
}
/* For Extra Large Device */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .carousel-caption h5{
        font-size: 4rem;
    }

    .carousel-caption p{
        font-size: 18px;
    }
}
/* For Extra Extra Large Device */
@media screen and (min-width: 1201px) {
    .carousel-caption h5{
        font-size: 5rem;
    }

    .carousel-caption p{
        font-size: 20px;
    }
}